body {
    background-color: rgb(165, 160, 160);
}

#tom {
    position: fixed;
    right: 1px;
    z-index: -1;
}

#jerry {
    position: fixed;
    margin-top: 10rem;
    z-index: -1;
}

#picturesContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    justify-content: center;
    background: rgba(32, 35, 32, 0.9);
}

form {
    background-color: rgba(0, 218, 0, 0.5);
    ;
    margin: auto;
    width: 50%;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
}

label {
    color: red;
    font-weight: bold;
}

button,
input,
select {
    background-color: rgb(230, 83, 10, 0.7);
}

img {
    cursor: pointer;
    border: 5px solid transparent;
}